<launch>
  <arg name="uolli_robot_name" default=""/>

  <node pkg="rosserial_python" type="serial_node.py" name="uolli_base_io" output="screen">
    <param name="port" value="/dev/ttyACM1"/>
    <param name="baud" value="115200"/>
    <param name="tf_prefix" value="$(arg uolli_robot_name)"/>
  </node>

  <node pkg="gpsd_client" type="gpsd_client" name="gpsd_client" output="screen">
    <param name="_host" value="localhost"/>
  </node>

  <node name="base_camera" pkg="uollibot_base" type="camera.sh" output="screen"/>
  <node name="base_sensehat" pkg="uollibot_base" type="senseHatNode.py" output="screen"/>
 
</launch>
